/* Credits to https://uigradients.com/ for gradients */
/* Credits to https://wallpaperaccess.com/pixel-art-gif for background gif */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400&family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, rgba(19, 19, 19, 0) 60%, rgb(19, 19, 19)) fixed, 
                url(../Images/hero.gif) no-repeat center center fixed;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#navbar_logo:hover {
    background-color: #9518fc;
    transition: all 0.3s ease;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover  {
    color: #9518fc;
    transition: all 0.3s ease;
}

/* Mobile Responsive */

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active {
        background: linear-gradient(to top, rgba(19, 19, 19, 0.5) , rgb(19, 19, 19, 0));
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
        border-radius: 24px;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition:  all 0.3s ease;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile_menu.is_active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile_menu.is_active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    #mobile_menu.is_active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

/* Hero Section */
.hero {
    background: linear-gradient(to top, rgba(19, 19, 19, 0) 60%, rgba(19, 19, 19)) fixed
                , linear-gradient(to bottom, rgba(19, 19, 19, 0) 25%, rgb(19, 19, 19))
                , url(../Images/hero.gif) no-repeat center center fixed;
    padding: 350px 0px;
    text-align: left;
}

.hero_heading {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: -280px 0 0 50px;
    text-align: left;
}

.hero_heading h1 {
    font-family: 'VT323', monospace;
    font-size: 120px;
    color: #fff;
    margin: -25px;
    white-space: nowrap;
    overflow: hidden;
}   

/* Credits to https://codepen.io/Marty-Development/pen/xxwBJqO for multi-line typewriter effect */
#hero1 {
    border-right: 2px solid rgba(17, 17, 17, 0);
    animation: animated-text_1 2s steps(30, end) 1s 1 normal both,
    animated-cursor 900ms steps(30, end) 4;
}

#hero2 {
    border-right: 2px solid rgba(17, 17, 17, 0);
    animation: animated-text_2 2s steps(30, end) 1s 1 normal both,
    animated-cursor 900ms steps(30, end) 3;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#hero3 {
    border-right: 2px solid rgba(17, 17, 17, 0);
    animation: animated-text_3 2s steps(30, end) 1s 1 normal both,
    animated-cursor 900ms steps(30, end) infinite;
    -webkit-animation-delay: 6.5s;
    animation-delay: 6.5s;
}

@keyframes animated-cursor {
    from {
      border-right-color: rgba(17, 17, 17, 0);
    }
    to {
      border-right-color: rgba(255, 255, 255, 0.8);
    }
}
  
  @keyframes animated-text_1 {
    from {
      width: 0;
    }
    to {
      width: 9ch;
    }
}
  
  @keyframes animated-text_2 {
    from {
      width: 0;
    }
    to {
      width: 12ch;
    }
}

  @keyframes animated-text_3 {
    from {
      width: 0;
    }
    to {
      width: 18.5ch;
    }
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
    .hero_heading {
        font-size: 60px;
    }
}

/* About Section */
.about {
    background-color: #131313;
    padding: 8rem 0;
}

.about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    width: 100%;
    max-width: 1300px;
    padding: 0 25px;
}

.about_content {
    color: #fff;
    width: 100%;
}

.about_content h1 {
    font-size: 4rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(135deg, #db0235 10%, #ff1e87 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 8px;
}

.about_content p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.about_img_container {
    text-align: center;
}

.about_img_card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(135deg, #00dbde 10%, #fc00ff 100%);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .about_container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .about_img_container {
        display: flex;
        justify-content: center;
    }

    .about_img_card {
        height: 425px;
        width: 425px;
    }

    .about_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about_content h1 {
        font-size: 3rem;
        margin-top: 2rem;
    }

    .about_content h2 {
        font-size: 3rem;
    }

    .about_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .about_img_card {
        height: 250px;
        width: 250px;
    }

    .about_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about_content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .about_content h2 {
        font-size: 2rem;
    }

    .about_content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

/* Projects Section */
.projects {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.projects h1 {
    background: linear-gradient(135deg, #4A00E0 10%, #8E2DE2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 2rem;
    margin-top: -4rem;
    font-size: 4rem;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.projects_card {
    margin: 10px;
    height: 390px;
    width: 545px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transition: ease-in-out 0.75s;
    text-decoration: none;
    position: relative;
    display: flex;
}

.projects_card:nth-child(1) {
    /* background: linear-gradient(to left, #27b87b, #44a08d); */
    background-image: linear-gradient(135deg, #7bbef5 10%, #c9e6ab 100%);
}


.projects_card:nth-child(2) {
    /* background: linear-gradient(to left, #27b87b, #44a08d); */
    background-image: linear-gradient(135deg, #b0affa 10%, #f6d2da 100%);
}

.projects_card:nth-child(3) {
    /* background: linear-gradient(to left, #00ff95, #27b87b); */
    background-image: linear-gradient(135deg, #f690af 10%, #f6e05f 100%);
}

.dim_cards {
    opacity: 0.5;
}

.projects_card h2 {
    position: absolute;
    top: 18px;
    width: 100%;
    text-align: center;
    font-size: 35px;
}

.projects_card img {
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 3rem;
    border: solid 3px #fff;
}

.projects_desc {
    text-align: left;
    margin-top: 24px;
    font-size: 20px;
    opacity: 0;
    transition: ease-in-out 0.25s;
    margin: 0px;
    position: absolute;
    background-color: #131313cc;
    display: flex;
    flex-flow: column;
    padding: 2rem 2rem;
    height: 100%;
    transition: ease-in-out 0.5s;
}

.devstack p{
    position: absolute;
    bottom: 24px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    left: 0px;
}

.projects_desc:hover {
    opacity: 1;
    transition: ease-in-out 0.5s;
}

/* Mobile Responsive */
@media screen and (max-width: 1300px) {
    .projects_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .about_content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .about_content h2 {
        font-size: 3rem;
    }

    .about_content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .projects_wrapper {
        grid-template-columns: 1fr;
    }
}

/* Skills Section */
.skills {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 6rem 0;
}

.skills_list {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style-type: none;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    gap: 4rem;
}

.skills_container {
    text-align: center;
    border-bottom: solid 4px transparent;
    border-image: linear-gradient(135deg, #db0235 10%, #ff1e87 100%);
    border-image-slice: 1;
    width: 75%;
    padding-bottom: 2rem;
}

.skills_container h1 {
    font-size: 4rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(135deg, #db0235 10%, #ff1e87 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 8px;
}

.skills_icon {
    transition: all 0.3s ease-in-out;
}

.skills_icon:hover {
    transform: scale(1.2); 
    transition: all 0.3s ease-in-out;
}

.skills_text {
    color: #fff;
    display: block;
    margin-top: 12px;
}

/* Footer Section */
.footer_container {
    background-color: #000000;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_container h1 {
    font-size: 3rem;
    background-color: #fe3b6f;
    background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_links_wrapper {
    display: flex;

}

.footer_links_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 48px;
    text-align: left;
    width: 180px;
    box-sizing: border-box;
}

.footer_links_items a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 6px;
    transition: all 0.2s ease;
    border-bottom: 4px solid #000000;
}

.footer_links_items a:hover {
    border-bottom: 4px solid rgb(132, 0, 255);
    transition: all 0.2s ease;
}

.footer_links_items img{
    height:50px;
    width:50px;
    vertical-align: bottom;
}

/* Mobile Responsive */
@media screen and (max-width: 480px) {
    .footer_container h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .footer_links_items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

/* Mobile Responsive */
@media screen and (max-width: 1300px) {
    .footer_container h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 820px) {
    .footer_links {
        padding-top: 2rem;
    }

    .footer_links_wrapper {
        flex-direction: column;
    }
}

