/* Navbar Section */
/* Credits to https://wallpaperaccess.com/pixel-art-gif for background gif */
.navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, rgba(19, 19, 19, 0) 60%, rgb(19, 19, 19)) fixed, 
                url(../Images/hero.gif) no-repeat center center fixed;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    transition: all 0.3s ease;
}

#navbar_logo:hover {
    background-color: #9518fc;
    transition: all 0.3s ease;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links:hover  {
    color: #9518fc;
    transition: all 0.3s ease;
}

/* Mobile Responsive */
@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
        background: #131313;
    }

    .navbar_menu.active {
        background: linear-gradient(to top, rgba(19, 19, 19, 0.75) , rgb(19, 19, 19, 0.5));
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
        border-radius: 24px;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition:  all 0.3s ease;
        background: #fff;
        display: block;
        cursor: pointer;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile_menu.is_active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile_menu.is_active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    #mobile_menu.is_active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
}